<div class='container'>
  <% if @datas.present? %>
    <% if @datas.model == User %>
      <h2>Users search for '<%= @content %>'</h2>
      <table class='table'>
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th>follows</th>
            <th>followers</th>
          </tr>
        </thead>
        <tbody>
          <% @datas.each do |data| %>
            <tr>
              <td><%= attachment_image_tag(data, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
              <td><%= data.name %></td>
              <td>フォロー数：<%= data.followerlist.count %></td>
              <td>フォロワー数：<%= data.followedlist.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h2>Books search for '<%= @content %>'</h2>
      <table class='table'>
        <thead>
          <tr>
            <th colspan="1"></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @datas.each do |data| %>
            <tr>
              <td><%= attachment_image_tag(data.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
              <td><%= data.title %></td>
              <td><%= data.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <h2>No Result for '<%= @content %>' in <%= @model.capitalize %>s</h2>
  <% end %>
</div>